//contained within this file are all your resets, variables, mixins, and any utility classes.

$color-darker-blue: #557a95;
$color-text-blue: #d7f4ff;
$color-button-blue: #082e3b;
$color-text-light-blue: #25b3b3;
$aqua: #9ae1e1;
$aboutme-color: #e3f6f5;
$footer-color: #272643;
$button-hover-color: #9eeeee;

* {
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: $color-text-blue;
  scroll-behavior: smooth;
}

main {
  max-width: 100vw;
}
body {
  overflow-x: hidden;
}

//Hide nav bar
nav {
  display: none;
}

.spacer{
  aspect-ratio: 900/300;
  width: 100%;
  background-size: cover;
}

.topspacer{
  aspect-ratio: 900/300;
  width: 100%;
  height: 300px;
  background-size: cover;
}

.backgroundOne{
  background-image: url('../images/background/backgroundOne.svg');
}

.backgroundTwo{
  background-image: url('../images/background/backgroundTwo.svg');
}

p {
  color: $color-text-light-blue;
  font-size: 24px;
}

footer {
  p {
    color: white;
    font-size: 20px;
  }

  a {
    text-decoration: none;
  }
}

//Components with .hidden have an onscroll animation, by using an
//intersection observer in main.js to add the .show class.
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-20%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

//for accessability, removes transition if user wants.

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
