.blueButton {
  font-weight: bold;
  font-size: 20px;
  background-color: $aqua;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 7px;
  padding: 10px 20px;
}

.blueButton:hover {
  background-color: $button-hover-color;
}

.blueUnderline {
  background-image: linear-gradient(to right, #239999, #8ac9c9);
}

section {
  .blueUnderline {
    background-size: 100% 22%;
    background-repeat: no-repeat;
    background-position: 0 90%;
  }

  .introSection {
    .blueUnderline {
      background-image: url("../images/Vector.png");
    }
  }

  .skillsSection {
    .blueUnderline {
      background-image: linear-gradient(to right, #bae8e8, #bae8e8);
    }
  }
}



.project-section__button {
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  border: none;
  background-color: white;
  text-decoration: none;
}

#block {
  display: inline;
  left: 50%;
  top: 50%;
  background-color: black;
  height: 150px;
  aspect-ratio: 1;
  position: absolute;
  translate: -50% -50%;
  border-radius: 50%;
  overflow: hidden;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  filter: blur(200px);
}
@media screen and (max-width: 1120px) {
  #block {
    display: none;
  }
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}
