//contains all the CSS that handles the layout, such as the container and any grid systems.

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #001220;
  padding-left: 2%; 
  padding-right: 2%; 

  section{
    margin-bottom: 20%;
  }

  .introSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    
    &__title {
      font-size: 50px;
    }

    &__image {
      display: none;
    }
  }
}

.aboutMeSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__title--desktop {
    display: none;
    margin-bottom: 0%;
  }

  &__aboutMeText {
    font-size: 14px;
    text-align: left;
  }

  &__image--mobile {
    width: 65vw;
    max-width: 550px;
    margin-bottom: 5%;
  }

  &__image--desktop {
    display: none;
  }
}

.skillsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  h1,
  p {
    margin-bottom: 5%;
  }

  &__icons {
    width: 70%;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    img {
      height: 20%;
      width: 20%;
      margin: 5%;
    }
  }
}

.projectsSection {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 40px;
    margin-bottom: 5%;
  }

  p,
  h1 {
    text-align: left;
  }
  #project1, #project4{
    transition-delay: 200ms;
  }
  #project2, #project5{
    transition-delay: 450ms;
  }
  #project3, #project6{
    transition-delay: 700ms;
  }

  #project5,
  #project6 {
    display: none;
  }

  &__contentContainer {
    display: flex;
    flex-direction: column;

    div {
      margin-bottom: 5%;

      h1 {
        font-size: 30px;
      }
      .buttons {
        margin-top: 3%;
      }

      img {
        width: 100%;
        //max-width to stop overflow.
        max-width: 60vw;
        height: 30vh;
      }
    }
  }
}

footer {
  height: 200px;
  background-color:#2596be;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
