@media screen and (min-width: 1120px) {
  //Styling for nav is in here because it isn't visible in the mobile view.
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 5% 0 -5%;
    background-color: #2596be;
    height: 80px;
    width: 100%;
    h1{
      margin-left: 2%;
    }
    .nav__links {
      margin-right: 2%;
      width: 31%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    a {
      margin-left: 3%;
      text-decoration: none;
      font-size: 18px;
      color: $color-text-blue;
      font-weight: bold;
      z-index: 2;
    }
    a:hover {
      background-color: $button-hover-color;
    }
  }
 
  
  .mainContent {
    .introSection {
      height: 40vh;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      //Limits width so each element can flex wrap correctly
      .introSection__title {
        width: 45%;
      }

      .introSection__image {
        width: 45%;
        max-width: 400px;
        //display flex to make image visible - was none
        display: flex;
      }
    }

    .aboutMeSection {
      height: 50vh;
      flex-wrap: wrap;
      margin: 0;
      //Similar logic as previous in changing the width so it fills the new page size.
      .aboutMeSection__aboutMeText {
        width: 50%;
      }

      .aboutMeSection__title--desktop {
        display: flex;
        margin-bottom: 2%;
        margin-top: 5%;
      }

      .aboutMeSection__image--desktop {
        display: flex;
        width: 40vw;
        max-width: 800px;
      }

      .aboutMeSection__image--mobile {
        display: none;
      }

      .aboutMeSection__title--mobile {
        display: none;
      }
    }

    .skillsSection {
      .skills__frontend, .skills__backend, .skills__tools, .skills_languages {
        width: 90%;
        max-width: 90%;
      }
    }

    .projectsSection {
      width: 80vw;

      //Switched to display grid, instead of being display: flex; so it fits the page better.
      .projectsSection__contentContainer {
        width: 80vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 2%;
        #project1, #project2, #project3, #project4, #project5, #projeect6{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        //Adds these projects into view as their previous display was none.
        #project5,
        #project6 {
          display: block;
        }

        button {
          align-items: left;
        }
        img{
          width: 25vw;
        }

    
          
        
      }
    }
  }

  footer {
    margin-top: 0%;
    display: flex;
    flex-direction: row-reverse;
  }
}
