//contains all the CSS that handles the layout, such as the container and any grid systems.

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #001220;


  section{
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 15%;
  }

  .introSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  
    &__title {
      font-size: 50px;
    }

    &__image {
      display: none;
    }
  }
}

.aboutMeSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__title--desktop {
    display: none;
    margin-bottom: 0%;
    
  }

  &__aboutMeText {
    font-size: 14px;
    text-align: left;
  }

  &__image--mobile {
    width: 60vw;
    max-width: 350px;
    margin-bottom: 5%;
  }

  &__image--desktop {
    display: none;
  }
}

.skillsSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
  h1,
  p {
    margin-bottom: 5%;
  }
  .skills__icon{ 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 5px;
    width: 120px;
    background-color: $footer-color;
    text-align: center;
  }
  
  .skills__icon:nth-child(1){ 
    transition-delay: 200ms
  }
  .skills__icon:nth-child(2){ 
    transition-delay: 250ms
  }
  .skills__icon:nth-child(3){ 
    transition-delay: 300ms
  }
  .skills__icon:nth-child(4){ 
    transition-delay: 350ms
  }
  .skills__icon:nth-child(5){ 
    transition-delay: 400ms
  }
  .skills__icon:nth-child(6){ 
    transition-delay: 450ms
  }
  .skills__frontend, .skills__backend, .skills__tools, .skills__languages, .skills__testing{
    display: flex;
    width: 80%;
    flex-direction: column;
    flex-wrap: wrap;
  
    img {
      height: 80px;
      width: auto;
      aspect-ratio: 0.9;
      margin: 5%;
    }

    #frontend{
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
    #backend{
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
    #tools{
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
    #languages{
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
    #testing{
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
  }
}

.projectsSection {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 40px;
    margin-bottom: 5%;
  }
  details, summary{
    font-size: 22px;
    color: $color-text-light-blue;
  }
  p,
  h1 {
    text-align: left;
  }
  #project1, #project4{
    transition-delay: 200ms;
  }
  #project2, #project5{
    transition-delay: 450ms;
  }
  #project3, #project6{
    transition-delay: 700ms;
  }

  #project5,
  #project6 {
    display: none;
  }

  &__contentContainer {
    display: flex;
    flex-direction: column;

    div {
      margin-bottom: 5%;

      h1 {
        font-size: 30px;
      }
      .buttons {
        margin-top: 3%;
      }

      img {
        aspect-ratio: 1.5;
        //max-width to stop overflow.
        max-width: 60vw;
 
      }
    }
  }
}

footer {
  height: 200px;
  background-color:#2596be;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
