* {
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #d7f4ff;
  scroll-behavior: smooth;
}

main {
  max-width: 100vw;
}

body {
  overflow-x: hidden;
}

nav {
  display: none;
}

.spacer {
  aspect-ratio: 900/300;
  width: 100%;
  background-size: cover;
}

.topspacer {
  aspect-ratio: 900/300;
  width: 100%;
  height: 300px;
  background-size: cover;
}

.backgroundOne {
  background-image: url("../images/background/backgroundOne.svg");
}

.backgroundTwo {
  background-image: url("../images/background/backgroundTwo.svg");
}

p {
  color: #25b3b3;
  font-size: 24px;
}

footer p {
  color: white;
  font-size: 20px;
}
footer a {
  text-decoration: none;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-20%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
.blueButton {
  font-weight: bold;
  font-size: 20px;
  background-color: #9ae1e1;
  color: black;
  text-decoration: none;
  border-radius: 7px;
  padding: 10px 20px;
}

.blueButton:hover {
  background-color: #9eeeee;
}

.blueUnderline {
  background-image: linear-gradient(to right, #239999, #8ac9c9);
}

section .blueUnderline {
  background-size: 100% 22%;
  background-repeat: no-repeat;
  background-position: 0 90%;
}
section .introSection .blueUnderline {
  background-image: url("../images/Vector.png");
}
section .skillsSection .blueUnderline {
  background-image: linear-gradient(to right, #bae8e8, #bae8e8);
}

.project-section__button {
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  border: none;
  background-color: white;
  text-decoration: none;
}

#block {
  display: inline;
  left: 50%;
  top: 50%;
  background-color: black;
  height: 150px;
  aspect-ratio: 1;
  position: absolute;
  translate: -50% -50%;
  border-radius: 50%;
  overflow: hidden;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  filter: blur(200px);
}

@media screen and (max-width: 1120px) {
  #block {
    display: none;
  }
}
@keyframes rotate {
  from {
    rotate: 0deg;
  }
  50% {
    scale: 1 1.5;
  }
  to {
    rotate: 360deg;
  }
}
.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #001220;
}
.mainContent section {
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 15%;
}
.mainContent .introSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
.mainContent .introSection__title {
  font-size: 50px;
}
.mainContent .introSection__image {
  display: none;
}

.aboutMeSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.aboutMeSection__title--desktop {
  display: none;
  margin-bottom: 0%;
}
.aboutMeSection__aboutMeText {
  font-size: 14px;
  text-align: left;
}
.aboutMeSection__image--mobile {
  width: 60vw;
  max-width: 350px;
  margin-bottom: 5%;
}
.aboutMeSection__image--desktop {
  display: none;
}

.skillsSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
}
.skillsSection h1,
.skillsSection p {
  margin-bottom: 5%;
}
.skillsSection__images {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.skillsSection__images img {
  height: 80px;
}

.projectsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectsSection h1 {
  font-size: 40px;
  margin-bottom: 5%;
}
.projectsSection details,
.projectsSection summary {
  font-size: 22px;
  color: #25b3b3;
}
.projectsSection p,
.projectsSection h1 {
  text-align: left;
}
.projectsSection #project1,
.projectsSection #project4 {
  transition-delay: 200ms;
}
.projectsSection #project2,
.projectsSection #project5 {
  transition-delay: 450ms;
}
.projectsSection #project3,
.projectsSection #project6 {
  transition-delay: 700ms;
}
.projectsSection #project5,
.projectsSection #project6 {
  display: none;
}
.projectsSection__contentContainer {
  display: flex;
  flex-direction: column;
}
.projectsSection__contentContainer div {
  margin-bottom: 5%;
}
.projectsSection__contentContainer div h1 {
  font-size: 30px;
}
.projectsSection__contentContainer div .buttons {
  margin-top: 3%;
}
.projectsSection__contentContainer div img {
  aspect-ratio: 1.5;
  max-width: 60vw;
}

footer {
  height: 200px;
  background-color: #2596be;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media screen and (min-width: 1120px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 5% 0 -5%;
    background-color: #2596be;
    height: 80px;
    width: 100%;
  }
  nav h1 {
    margin-left: 2%;
  }
  nav .nav__links {
    margin-right: 2%;
    width: 31%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav a {
    margin-left: 3%;
    text-decoration: none;
    font-size: 18px;
    color: #d7f4ff;
    font-weight: bold;
    z-index: 2;
  }
  nav a:hover {
    background-color: #9eeeee;
  }
  .mainContent .introSection {
    height: 40vh;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .mainContent .introSection .introSection__title {
    width: 45%;
  }
  .mainContent .introSection .introSection__image {
    width: 45%;
    max-width: 400px;
    display: flex;
  }
  .mainContent .aboutMeSection {
    height: 50vh;
    flex-wrap: wrap;
    margin: 0;
  }
  .mainContent .aboutMeSection .aboutMeSection__aboutMeText {
    width: 50%;
  }
  .mainContent .aboutMeSection .aboutMeSection__title--desktop {
    display: flex;
    margin-bottom: 2%;
    margin-top: 5%;
  }
  .mainContent .aboutMeSection .aboutMeSection__image--desktop {
    display: flex;
    width: 40vw;
    max-width: 800px;
  }
  .mainContent .aboutMeSection .aboutMeSection__image--mobile {
    display: none;
  }
  .mainContent .aboutMeSection .aboutMeSection__title--mobile {
    display: none;
  }
  .mainContent .skillsSection__images img {
    height: 100px;
  }
  .mainContent .projectsSection {
    width: 80vw;
  }
  .mainContent .projectsSection .projectsSection__contentContainer {
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2%;
  }
  .mainContent .projectsSection .projectsSection__contentContainer #project1, .mainContent .projectsSection .projectsSection__contentContainer #project2, .mainContent .projectsSection .projectsSection__contentContainer #project3, .mainContent .projectsSection .projectsSection__contentContainer #project4, .mainContent .projectsSection .projectsSection__contentContainer #project5, .mainContent .projectsSection .projectsSection__contentContainer #projeect6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .mainContent .projectsSection .projectsSection__contentContainer #project5,
  .mainContent .projectsSection .projectsSection__contentContainer #project6 {
    display: block;
  }
  .mainContent .projectsSection .projectsSection__contentContainer button {
    align-items: left;
  }
  .mainContent .projectsSection .projectsSection__contentContainer img {
    width: 25vw;
  }
  footer {
    margin-top: 0%;
    display: flex;
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 1700px) {
  .mainContent .introSection {
    height: 55vh;
    flex-wrap: wrap;
  }
  .mainContent .introSection .introSection__title {
    font-size: 80px;
  }
  .mainContent .aboutMeSection {
    height: 54vh;
  }
  .mainContent .aboutMeSection .aboutMeSection__aboutMeText {
    font-size: 24px;
  }
  .mainContent .aboutMeSection .aboutMeSection__title--desktop {
    font-size: 40px;
  }
  .mainContent .skillsSection {
    width: 80%;
  }
  .mainContent .skillsSection h1 {
    font-size: 50px;
  }
  .mainContent .skillsSection__images img {
    height: 120px;
  }
  .mainContent .projectsSection {
    width: 80vw;
  }
  .mainContent .projectsSection h1 {
    font-size: 50px;
    margin-bottom: 4%;
  }
  .mainContent .projectsSection__contentContainer img {
    width: 85%;
  }
}/*# sourceMappingURL=main.css.map */