
$color-darker-blue: #557A95;
$color-text-blue: rgb(23, 45, 53);
$color-button-blue: rgb(37, 150, 190);
$color-text-light-blue: #1B8383;
$aqua: #9ae1e1;
$aboutme-color: #E3F6F5;
$footer-color: #272643;
$button-hover-color: #cdf3f3;