@import "variables.scss";
@import "defaultview.scss";
@import "desktopview.scss";
@import "4kview.scss";

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-25%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

//for accessability, removes transition if user wants. 

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}