* {
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

nav {
  display: none;
}

.mainContent {
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mainContent section {
  margin-bottom: 15%;
}
.mainContent .introSection .introSection__greeting {
  align-self: flex-start;
  text-align: left;
}
.mainContent .introSection .introSection__title {
  font-size: 50px;
  text-align: left;
}
.mainContent .introSection .introSection__picture {
  display: none;
}

.aboutMeSection {
  width: 90%;
}
.aboutMeSection .aboutMeSection__title--desktop {
  display: none;
  margin-bottom: 0%;
}
.aboutMeSection .aboutMeSection__aboutMeText {
  font-size: 14px;
  text-align: left;
  margin-bottom: 5%;
}
.aboutMeSection .aboutMeSection__image {
  width: 70vw;
  max-width: 600px;
}

.skillsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.skillsSection .skillsSection__icons {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.skillsSection .skillsSection__icons img {
  height: 20%;
  width: 20%;
  margin: 5%;
}

.projectsSection h1 {
  font-size: 30px;
}
.projectsSection .projectsSection__contentContainer {
  display: flex;
  flex-wrap: wrap;
}
.projectsSection .projectsSection__contentContainer button {
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px black;
  background-color: white;
}
.projectsSection .projectsSection__contentContainer p, .projectsSection .projectsSection__contentContainer h1 {
  text-align: left;
}
.projectsSection .projectsSection__contentContainer h1 {
  font-size: 24px;
  margin-bottom: 4%;
}

footer {
  height: 200px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
footer img {
  height: 60px;
}
footer p {
  font-size: 20px;
}

@media screen and (min-width: 1280px) {
  nav {
    margin: 50px;
    display: flex;
    justify-content: space-between;
  }
  nav .nav__links {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav a {
    text-decoration: none;
  }
  .mainContent .introSection {
    height: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .mainContent .introSection .introSection__title {
    width: 40%;
  }
  .mainContent .introSection .introSection__picture {
    width: 40%;
    display: flex;
  }
  .mainContent .aboutMeSection {
    height: 60vh;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .mainContent .aboutMeSection .aboutMeSection__aboutMeText {
    width: 50%;
  }
  .mainContent .aboutMeSection .aboutMeSection__image {
    margin-right: 2%;
  }
  .mainContent .aboutMeSection .aboutMeSection__title--desktop {
    display: flex;
    margin-bottom: 2%;
  }
  .mainContent .aboutMeSection .aboutMeSection__title--mobile {
    display: none;
  }
  .mainContent .skillsSection {
    width: 100%;
  }
  .mainContent .skillsSection .skillsSection__icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    width: 100%;
  }
  .mainContent .skillsSection .skillsSection__icons img {
    height: 5%;
    width: 5%;
    margin: 3%;
  }
  .mainContent .projectsSection {
    width: 100%;
  }
  .mainContent .projectsSection .projectsSection__contentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2%;
  }
  .mainContent .projectsSection .projectsSection__contentContainer button {
    align-items: left;
  }
}/*# sourceMappingURL=style.css.map */