* {
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: rgb(23, 45, 53);
}

*::-webkit-scrollbar {
  display: none;
}

nav {
  display: none;
}

p {
  color: #2596be;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mainContent section {
  margin: 10%;
}
.mainContent section .blueUnderline {
  background-size: 100% 22%;
  background-repeat: no-repeat;
  background-position: 0 90%;
}
.mainContent .introSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
.mainContent .introSection .blueUnderline {
  background-image: url("/images/Vector.png");
}
.mainContent .introSection .introSection__title {
  font-size: 50px;
}
.mainContent .introSection .introSection__image {
  display: none;
}
.mainContent .introSection a {
  margin-top: 5%;
  font-weight: bold;
  font-size: 20px;
  background-color: #BAE8E8;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 7px;
  padding: 10px 20px;
}

.aboutMeSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.aboutMeSection .aboutMeSection__title--desktop {
  display: none;
  margin-bottom: 0%;
}
.aboutMeSection .aboutMeSection__aboutMeText {
  font-size: 14px;
  text-align: left;
}
.aboutMeSection .aboutMeSection__image--mobile {
  width: 65vw;
  max-width: 550px;
}
.aboutMeSection .aboutMeSection__image--desktop {
  display: none;
}

.skillsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.skillsSection .blueUnderline {
  background-image: linear-gradient(to right, #BAE8E8, #BAE8E8);
}
.skillsSection .skillsSection__icons {
  width: 70%;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.skillsSection .skillsSection__icons img {
  height: 20%;
  width: 20%;
  margin: 5%;
}

.projectsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectsSection h1 {
  font-size: 40px;
}
.projectsSection p, .projectsSection h1 {
  text-align: left;
}
.projectsSection a {
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  border: none;
  background-color: white;
  text-decoration: none;
}
.projectsSection .blueUnderline {
  background-image: linear-gradient(to right, #BAE8E8, #BAE8E8);
}
.projectsSection #project5, .projectsSection #project6 {
  display: none;
}
.projectsSection .projectsSection__contentContainer {
  display: flex;
  flex-direction: column;
}
.projectsSection .projectsSection__contentContainer div {
  margin-bottom: 5%;
}
.projectsSection .projectsSection__contentContainer div h1 {
  font-size: 30px;
}
.projectsSection .projectsSection__contentContainer div .buttons {
  margin-top: 3%;
  text-decoration: none;
}
.projectsSection .projectsSection__contentContainer div img {
  width: 90%;
  max-width: 30vw;
}

footer {
  height: 200px;
  background-color: #557A95;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #557A95;
}
footer p {
  color: white;
  font-size: 20px;
}
footer a {
  text-decoration: none;
}

@media screen and (min-width: 1280px) {
  nav {
    margin: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav .nav__links {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav .nav__links a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(23, 45, 53);
    font-weight: bold;
  }
  nav #btnGetInTouch {
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
    background-color: #BAE8E8;
    font-weight: bold;
  }
  .mainContent .introSection {
    height: 40vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  .mainContent .introSection .introSection__title {
    width: 45%;
  }
  .mainContent .introSection .introSection__image {
    width: 45%;
    display: flex;
  }
  .mainContent .aboutMeSection {
    background-color: #E3F6F5;
    height: 50vh;
    flex-wrap: wrap;
    margin: 0;
  }
  .mainContent .aboutMeSection .aboutMeSection__aboutMeText {
    width: 50%;
  }
  .mainContent .aboutMeSection .aboutMeSection__title--desktop {
    display: flex;
    margin-bottom: 2%;
    margin-top: 5%;
  }
  .mainContent .aboutMeSection .aboutMeSection__image--desktop {
    display: flex;
    width: 40vw;
    max-width: 800px;
  }
  .mainContent .aboutMeSection .aboutMeSection__image--mobile {
    display: none;
  }
  .mainContent .aboutMeSection .aboutMeSection__title--mobile {
    display: none;
  }
  .mainContent .skillsSection {
    width: 100%;
  }
  .mainContent .skillsSection .skillsSection__icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    width: 90%;
    max-width: 100%;
  }
  .mainContent .skillsSection .skillsSection__icons img {
    height: 5%;
    width: 5%;
    margin: 3%;
  }
  .mainContent .projectsSection {
    width: 80vw;
  }
  .mainContent .projectsSection .projectsSection__contentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2%;
  }
  .mainContent .projectsSection .projectsSection__contentContainer #project5, .mainContent .projectsSection .projectsSection__contentContainer #project6 {
    display: block;
  }
  .mainContent .projectsSection .projectsSection__contentContainer button {
    align-items: left;
  }
  footer {
    margin-top: 0%;
    display: flex;
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 1700px) {
  .mainContent .introSection {
    height: 55vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .mainContent .introSection .introSection__title {
    font-size: 80px;
  }
  .mainContent .introSection .introSection__picture {
    width: 40%;
    display: flex;
  }
  .mainContent .introSection .introSection__greeting {
    font-size: 40px;
  }
  .mainContent .aboutMeSection {
    height: 54vh;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .mainContent .aboutMeSection .aboutMeSection__aboutMeText {
    font-size: 24px;
  }
  .mainContent .aboutMeSection .aboutMeSection__image {
    margin-right: 0;
    margin-bottom: 10%;
  }
  .mainContent .aboutMeSection .aboutMeSection__title--desktop {
    font-size: 30px;
  }
  .mainContent .skillsSection {
    width: 80%;
  }
  .mainContent .skillsSection h1 {
    font-size: 50px;
  }
  .mainContent .skillsSection p {
    font-size: 24px;
  }
  .mainContent .projectsSection {
    width: 80vw;
  }
  .mainContent .projectsSection button {
    font-size: 28px;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    border: none;
    background-color: white;
  }
  .mainContent .projectsSection p {
    font-size: 24px;
  }
  .mainContent .projectsSection h1 {
    font-size: 50px;
    margin-bottom: 4%;
  }
}
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-25%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}/*# sourceMappingURL=style.css.map */