$color-dark-blue: #7395AE;
$color-darker-blue: #557A95;
$color-light-brown: #B1A296;
$color-light-gray: #909292;
$color-gray: #5D5C61;
$color-text-blue: rgb(23, 45, 53);
$color-button-blue: rgb(37, 150, 190);
$color-text-light-blue: #2596be;
$aqua: #BAE8E8;
$aboutme-color: #E3F6F5;
$footer-color: #272643;