* {
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: $color-text-blue;
  scroll-behavior: smooth;
  
}

//Hides scroll wheel
*::-webkit-scrollbar {
  display: none;
}

//Hide nav bar
nav {
  display: none;
}

p {
  color: $color-text-light-blue;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  section {
    margin: 10%;

    //Styling for the size of the blue underline on some text.
    //Background image added in individual sections because it's different
    //Within the "intro section"
    .blueUnderline {
      background-size: 100% 22%;
      background-repeat: no-repeat;
      background-position: 0 90%;
    }
  }

  .introSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;

    .blueUnderline {
      background-image: url("/images/Vector.png");
    }

    .introSection__title {
      font-size: 50px;
    }

    .introSection__image {
      display: none;
    }

    //"Take a look at my work" button
    //Could give it a class, but I feel like there's no need since there is
    //only one button in this section so I can just target it with a{}
    a {
      margin-top: 5%;
      font-weight: bold;
      font-size: 20px;
      background-color: $aqua;
      text-decoration: none;
      border: 2px solid black;
      border-radius: 7px;
      padding: 10px 20px;
    }

    a:hover {
      background-color: $button-hover-color;
    }
  }
}

.aboutMeSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .aboutMeSection__title--desktop {
    display: none;
    margin-bottom: 0%;
  }

  .aboutMeSection__aboutMeText {
    font-size: 14px;
    text-align: left;
  }

  .aboutMeSection__image--mobile {
    width: 65vw;
    max-width: 550px;
    margin-bottom: 5%;
    
  }

  .aboutMeSection__image--desktop {
    display: none;
  }
}

.skillsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  h1, p{
    margin-bottom: 5%;
  }

  .blueUnderline {
    background-image: linear-gradient(to right, #bae8e8, #bae8e8);
  }

  .skillsSection__icons {
    width: 70%;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    img {
      height: 20%;
      width: 20%;
      margin: 5%;
    }
  }
}

.projectsSection {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 40px;
    margin-bottom: 5%;
  }

  p,
  h1 {
    text-align: left;
    
  }

  a {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    border: none;
    background-color: white;
    text-decoration: none;
  }

  .blueUnderline {
    background-image: linear-gradient(to right, #bae8e8, #bae8e8);
  }

  #project5,
  #project6 {
    display: none;
  }

  .projectsSection__contentContainer {
    display: flex;
    flex-direction: column;

    div {
      margin-bottom: 5%;

      h1 {
        font-size: 30px;
      }
      .buttons {
        margin-top: 3%;
        text-decoration: none;
      }

      img {
        width: 100%;
        //max-width to stop overflow.
        max-width: 60vw;
        height: 25vh;
      }
    }
  }
}

footer {
  height: 200px;
  background-color: $color-darker-blue;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $color-darker-blue;

  p {
    color: white;
    font-size: 20px;
  }

  a {
    text-decoration: none;
  }
}
